@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
  min-height: 2000px;
}

header {
  background-color: white;
}

nav {
  position: fixed;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  right: 0;
}

nav a{
  text-decoration: none;
  color: #333;
}

nav h1 {
  line-height: 1em;
}

nav h1 div:first-child {
  font-weight: 800;
  letter-spacing: 1.5px;
}

nav h1 div:last-child {
  font-weight: 400;
}

/* Responsive breakpoints */
@media screen and (max-width: 960px) {
  
}

@media screen and (max-width: 576px) {

  nav {
    grid-template-columns: repeat(4, 1fr);
  }

  nav h1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}
